<!DOCTYPE>
<html>
    <head>
        <title>Logout</title>
        {% include 'users/main_head.html' %}
        {% include 'users/custom_style.html' %}
    </head>
    <body>
        <div class="container">
            <!--messages-->
            {% include 'users/messages.html' %}
            <!--log out view-->
            <div class="row">
                <div class="col-lg-6 col-xl-6 mx-auto">
                    <div class="card card-signin flex-row my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Goodbye!</h5>
                            <h6>You have been logged out</h6>
                            <div class="border-top pt-3">
                                <small class="text-muted">
                                    <a href="{% url 'login' %}">Log In</a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--scripts-->
        {% include 'users/scripts.html' %}
    </body>
</html>