{% load crispy_forms_tags %}
<!DOCTYPE>
<html>
    <head>
        <title>Reset Password</title>
        {% include 'users/main_head.html' %}
        {% include 'users/custom_style.html' %}
    </head>
    <body>
        <div class="container">
            <!--messages-->
            {% include 'users/messages.html' %}
            <!--login form-->
            <div class="row">
                <div class="col-lg-6 col-xl-6 mx-auto">
                    <div class="card card-signin flex-row my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Reset Password</h5>
                            <form method="POST">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Request Password Reset</legend>
                                    {{ form|crispy }}
                                </fieldset>
                                <div class="form-group">
                                    <button class="btn btn-warning text-white" style="border-radius: 2rem;" type="submit">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--scripts-->
        {% include 'users/scripts.html' %}
    </body>
</html>