{% load crispy_forms_tags %}
<!DOCTYPE>
<html>
    <head>
        <title>Profile</title>
        {% include 'users/main_head.html' %}
        {% include 'users/custom_style.html' %}
    </head>
    <body>
        <!--nav -->
        {% include 'users/logout_btn.html' %}
        <section class="pricing py-5">
            <div class="container">
                <!--messages -->
                {% include 'users/messages.html' %}
                <!--user dash-->
                <div class="row py-5">
                  <!--user info-->
                  <div class="col-lg-4">
                      <div class="card mb-5 mb-lg-0">
                          <img class="account-img mx-auto py-2" width="auto" height="60px" src="{{ user.profile.image.url }}" />
                          <div class="card-body align-items-center">
                              <h5 class="card-title text-uppercase">{{ user.first_name }} {{ user.last_name }}</h5>
                              <h5 class="card-title text-uppercase">{{ user.email }}</h5>
                              <h5 class="card-title text-uppercase">{{ user.address }}</h5>
                              <h5 class="card-title text-uppercase">{{ user.phone_number }}</h5>
                          </div>
                      </div>
                  </div>
                  <!--user update profile-->
                  <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                      <div class="card-body m-auto">
                        <h5 class="card-title text-uppercase text-center">Update Profile</h5>
                        <hr>
                        <a class="btn btn-warning rounded-pill px-4 py-2 text-white" href="{% url 'profile-update' %}">Update</a>
                      </div>
                    </div>
                  </div>
                  <!--transactions-->
                  <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                      <div class="card-body m-auto">
                        <h5 class="card-title text-uppercase text-center">View Transactions</h5>
                        <hr>
                        <a class="btn btn-warning rounded-pill px-4 py-2 text-white" href="{% url 'trans' %}">Transactions</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </section>
        {% include 'users/scripts.html' %}
    </body>
</html>