{% load crispy_forms_tags %}
<!DOCTYPE>
<html>
    <head>
        <title>Register</title>
        {% include 'users/main_head.html' %}
        {% include 'users/custom_style.html' %}
    </head>
    <body>
        <div class="container">
            <!--messages-->
            {% include 'users/messages.html' %}
            <!--register form-->
            <div class="row">
                <div class="col-lg-8 col-xl-8 mx-auto">
                    <div class="card card-signin flex-row my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Register</h5>
                            <form method="POST">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Join Today!</legend>
                                    {{ form|crispy }}
                                </fieldset>
                                <div class="form-group">
                                    <button class="btn btn-warning text-white" style="border-radius: 2rem;" type="submit">Register</button>
                                </div>
                            </form>
                            <div class="border-top pt-3">
                                <small class="text-muted">
                                    Already Have An Account? <a href="{% url 'login' %}">Log In</a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--scripts-->
        {% include 'users/scripts.html' %}
    </body>
</html>